.buy-block__os-image {
    padding: 0 16px 0;
    border-right: 1px solid #666666;
    object-fit: contain;
    cursor: pointer;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.buy-block__os-image:hover {
    opacity: .6;
}

.buy-block__os-image:last-of-type {
    padding: 0 0 0 16px;
    border: none;
}

.buy-block__os-image:first-of-type {
    padding: 0 16px 0 24px;
}